/* --------------------------------------------------------- */
/* Variables */
:root{
    /* Colors */
    --Black: #000000;
    --Dark-grey: #222831;
    --Grey: #393E46;
    --Orange: #F96D00;
    /* --Orange: rgb(249, 109, 0); */
    --Light-grey: #F2F2F2;
    --White: #ffffff;
    /* Fonts */
    --Quicksand:'Quicksand', sans-serif;
    --Roboto:'Roboto', sans-serif;
    /* Text size */
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
    --xl: 2.0rem;
}
/* Reset */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* Set rem */
html{
    font-size: 62.5%;
}
/* Defaults */
body{
    font-family: var(--Quicksand);
    background-color: var(--Dark-grey);
}
/* --------------------------------------------------------- */
.navContainer{
    width: 100%;
    height: 60px;
    background-color: var(--Black);
    display: grid;
    grid-template-columns: 50px auto 50px;
    justify-items: center;
    align-items: center;
}
.navContainer_logo{
    height: 40px;
}
.navContainer_menu{
    height: 20px;
    cursor: pointer;
}
/* --------------------------------------------------------- */
.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
}
/* --------------------------------------------------------- */
.container{
    display: grid;
    grid-template-rows: auto auto 1fr;
    width: 340px;
}
/* --------------------------------------------------------- */
.logo{
    margin-bottom: 28px;
    justify-self: center;
}
.login_logo{
    width: 200px;
}
.created_logo,
.regRec_logo, 
.emailRec_logo,
.forgot_logo{
    width: 150px;
}
/* --------------------------------------------------------- */
.title{
    font-size: var(--xl);
    margin-bottom: 12px;
    text-align: center;
    color: var(--Orange);
}
/* --------------------------------------------------------- */
.subtitle{
    color: var(--White);
    font-size: var(--lg);
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
}
.sign_subtitle{
    margin-bottom: 10px;
}
/* --------------------------------------------------------- */
.form{
    display: flex;
    flex-direction: column;
}
/* --------------------------------------------------------- */
.emailRec_mail,
.created_mail{
    width: 140px;
    height: 140px;
    border: 2px solid var(--Orange);
    border-radius: 50%;
    background-color: var(--Dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-bottom: 30px;
}
.emailRec_img,
.created_img{
    width: 90px;
}
/* --------------------------------------------------------- */
.label{
    font-family: var(--Roboto);
    font-size: var(--md);
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--Orange);
}
/* --------------------------------------------------------- */
.input{
    background-color: var(--Light-grey);
    border: none;
    border-radius: 10px;
    height: 44px;
    font-size: var(--md);
    padding: 14px;
    margin-bottom: 24px;
}
/* --------------------------------------------------------- */
.recive{
    color: var(--Orange);
    font-size: var(--sm);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.span{
    color: var(--White);
    text-decoration: none;
}
.span:hover{
    color: var(--Orange);
}
/* --------------------------------------------------------- */
.primary_btn{
    border: 2px solid var(--Orange);
    border-radius: 10px;
    color: var(--Orange);
    background-color: var(--Dark-grey);
    height: 60px;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    cursor: pointer;
}
.primary_btn:hover{
    background-color: var(--Orange);
    color: var(--Dark-grey);
}
.signUp_btn{
    background-color: var(--Orange);
    color: var(--White);
    position: absolute;
    bottom: 10px;
    width: 340px;
}
/* --------------------------------------------------------- */

/* @media(max-width:640px){
    .login_logo{
        display: block;
    }
} */

