.container_logo,
.navContainer{
    display: none;
}
.signUp_btn{
    position: static;
}
.byNum_container{
    grid-template-columns: 50% 50%;
    max-width: 800px;
}
.byNum_info{
    max-width: 800px;
}
